// :host {  
//     height: 100%;
//     overflow: hidden;
//     display: flex;
//     flex-flow: column nowrap;
//     align-items: center;
//     justify-content: center;
//     position: relative;
//   }

  .lottie-animation{
display: flex;
justify-content: center;
width: 100%;
height: 300px;
  }